# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.so
*.so.*
*.dylib

# Executables
*.hex

# Emacs
*~
\#*\#
.\#*
/.emacs.desktop
/.emacs.desktop.lock
auto-save-list
tramp
